@import "../../../../style/mixins/breakpoints";
@import "../../../../style/mixins/variables";

.aai-home-card {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 400px;
  background: $aai-background-primary-color;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 10px -5px black;

  margin-bottom: 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  @include for-tablet-landscape-only {
    -webkit-transition: initial;
    transition: initial;
  }

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    @include for-tablet-landscape-only {
      -webkit-transform: initial;
      transform: initial;
    }
  }

  &__btn-delete {
    position: absolute;
    top: -10px;
    right: -10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;

    color: #939393;
    background-color: #fff;
    z-index: 1;

    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    @include for-tablet-landscape-only {
      -webkit-transition: initial;
      transition: initial;
    }

    & img {
      content: url("../../../../assets/icons/close.svg");
    }

    &:hover {
      border: 1px solid #000;
      color: #f00;

      & img {
        content: url("../../../../assets/icons/close-hover.svg");
      }

      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);

      @include for-tablet-landscape-only {
        -webkit-transform: initial;
        transform: initial;
      }
    }
  }

  &__view {
    position: relative;

    &-image {
      border-radius: 8px 8px 0 0;
      width: 100%;
      object-fit: cover;
      height: 170px;
    }

    &-tag {
      position: absolute;
      bottom: 4px;
      right: 4px;

      color: #fff;
      font-weight: bold;
      border-radius: 4px;
      line-height: 0;

      padding: 12px 4px;

      &[typeTag="Pizza"] {
        background-color: #998b01;
      }

      &[typeTag="Flor"] {
        background-color: #ff004e;
      }

      &[typeTag="Paisagem"] {
        background-color: #005aff;
      }
    }
  }

  &__content {
    padding: 0 8px;

    &-description {
      display: -webkit-box;

      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: 500;

      padding: 0 8px;

      @include for-tablet-landscape-only {
        font-size: 16px;
      }
    }
  }
}
