/* ===== Colors =-==== */
$aai-background-primary-color: #fff;
$aai-background-secondary-color: #efefef;

/* ===== border-radius =-==== */
$aai-border-radius-sm: 4px;
$aai-border-radius-md: 8px;
$aai-border-radius-lg: 12px;
