<main class="main">
  <app-header />
  <search-bar (onSearchItems)="searchItems($event)" />

  <div class="aai-container">
    <div class="aai-row">
      <ng-container *ngIf="!loading; else loadingTemplate">
        <ng-container *ngIf="items.length > 0; else emptyTemplate">
          <div
            class="col-12 col-xxl-2 col-xl-4 col-md-6"
            *ngFor="let item of items"
          >
            <card-item [item]="item" (onDeleteItem)="deleteItem($event)" />
          </div>
        </ng-container>
        <ng-template #emptyTemplate>
          <h2>There are no items. :(</h2>
        </ng-template>
      </ng-container>

      <ng-template #loadingTemplate>
        <div
          class="col-12 col-xxl-2 col-xl-4 col-md-6"
          *ngFor="let item of mockArrayLoading"
        >
          <card-item-loading />
        </div>
      </ng-template>
    </div>
  </div>
</main>
