@import "../../../../style/mixins/breakpoints";
@import "../../../../style/mixins/variables";

.aai-nav {
  position: relative;

  display: flex;
  justify-content: center;

  margin-bottom: 42px;

  @include for-tablet-landscape-only {
    padding: 0 16px;
  }

  &__box {
    position: relative;
    width: 50%;

    @include for-tablet-landscape-only {
      width: 100%;
    }

    &-search {
      width: 100%;
      height: 50px;
      border: 1px solid #ccc;
      border-radius: 4px;

      padding: 0 42px 0 12px;

      &:hover {
        border: 1px solid #02d1ff61;
        outline: none;
      }

      &:focus-visible {
        border: 1px solid #0278ff;
        outline: none;
      }
    }

    &-btn-search {
      position: absolute;
      top: 50%;
      right: 1px;
      transform: translateY(-50%);

      color: #939292;
      height: 95%;
      width: 50px;
      background: #fff;
      border: none;
      border-left: 1px solid #ccc;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
    }

    &-search:hover + &-btn-search {
      border-left: 1px solid #02d1ff61;
    }

    &-search:focus-visible + &-btn-search {
      border-left: 1px solid #0278ff;
    }
  }
}
